@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


section.main > div {
    background-color: #d7ead1 !important; 
}

html, body, .stApp {
    font-family: 'Poppins', sans-serif;
    background-color: #d7ead1 !important; 
}

h1, h2, h3 {
    color: #4a90e2;
}

.stButton > button {
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.stUpload {
    border: 2px dashed #4a90e2;
}

/*For info box*/
.st-expanderHeader {
    background-color: #fbfff9 !important;
}
.st-expanderContent {
    background-color: #e9f1e6 !important;
}

/*For Upload instructions*/
div.stAlert[data-testid="stAlert-info"] {
    background-color: #f4edf0ff !important;
    border-left: 5px solid #e2ccd4 !important; 
    color: #7c2a49 !important;  
}

.stMarkdown {
    color: #333333;
    font-size: 16px;
}
